<head>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
</head>

{% for Matiere in Matieres %}
    <tr>
        <td>Nom de la matière : {{ Matiere.intitule }}</td><br>
        <td>Durée (en minutes) : {{ Matiere.duree }}</td><br>
        <td>Intervenant : {{ Matiere.fkIntervenant.nom }}</td><br><br>
    </tr><br>
{% endfor %}
<a href="{{ path('app_accueil_accueil') }}">Retour à l'accueil</a>