<!DOCTYPE html>
<html>
    <head>
        <title>Calendrier</title>
        <meta charset="UTF-8">

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/fullcalendar.min.css') }}" rel="stylesheet">
        <script src="{{ asset('js/fullcalendar.min.js') }}"></script>

        {% block stylesheets %}
        <style>
            #calendrier{
                width: 80%;
                margin: auto;
            }
        </style>
        {% endblock %}

    </head>

    <body>
        <a href="{{ path('app_accueil_accueil') }}">Retour à l'accueil</a>
        {% block body %}
        <div id="calendrier">
            events: [
            {% for Calendrier in Calendriers %}
                Titre : "{{ Calendrier.nomCours }}"
                DateStart : {{ Calendrier.dateStart|date('Y-m-d') }}
                DateEnd : {{ Calendrier.dateEnd|date('Y-m-d') }}
            {% endfor %}
            ]
        </div>
        {% endblock %}

        {% block javascripts %}
        <script>
            window.onload = () => {
                let calendarElt = document.querySelector("#calendrier")

                let calendar = new FullCalendar.Calendar(calendarElt, {
                    initialView: "timeGridWeek",
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    headerToolbar: {
                        start: 'prev,next today',
                        center: 'title',
                        end: 'dayGridMonth,timeGridWeek'
                    },
                    events: [
                        {% for Calendrier in Calendriers %}
                        {
                            id: '{{ Calendrier.id }}',
                            title: '{{ Calendrier.nomCours }}',
                            start: '{{ Calendrier.dateStart|date("Y-m-d") }}',
                            end: '{{ Calendrier.dateEnd|date('Y-m-d') }}',
                        },
                        {% endfor %}
                    ]
                })
                calendar.render()
            }
        </script>
        {% endblock %}

    </body>
</html>